/** border box layout for all the div **/
* {
  border: 1px solid red;
  box-sizing: border-box;
}
/** Social Media Style Color when mouse hover over **/
#social-fb:hover {
    color: #3B5998;
}
#social-ig:hover {
    color: #3F729B;
}
#social-tw:hover {
    color: #4099FF;
}
#social-gp:hover {
    color: #d34836;
}
