/** border box layout for all the div **/
* {
  border: 1px solid red;
  box-sizing: border-box;
}

/** Social Media Style Color when mouse hover over **/
#social-fb:hover {
    color: #3B5998;
}
#social-ig:hover {
    color: #3F729B;
}
#social-tw:hover {
    color: #4099FF;
}
#social-gp:hover {
    color: #d34836;
}

/** format position for the button one box **/
#btn1 {
  text-align: center;
  float: right;
}
/** format position for the navigation bar box **/
#navigationBar {
  margin-top: 30px;
  text-align: center;
}
/** format position for the Profile Picture **/
#profilePic {
  margin-top: 50px;
  margin-left: 25px;
  margin-right: -80px;
  text-align: center;
  float: left;
  padding-top: 50px;
  padding-left: 40px;
  padding-bottom: 30px;
}
/** format position for the Profile Information **/
#profileInfo {
  margin-top: 50px;
  text-align: center;
  float: right;
}
/** format postion for jobForm **/
#jobForm {
  margin-top: 40px;
  margin-left: 25px;
}
/** format postion for user button **/
.userBtn {
  margin-top: 40px;
  margin-left: 25px;
  margin-bottom: 25px;
}
/** format position for user textField **/
.userTextField {
  margin-top: 40px;
  margin-left: 25px;
  margin-bottom: 25px;
}
/** format position for icon **/
.icon {
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 25px;
}
/** format position for job information **/
.jobInfo {
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 25px;
}
